@mixin base-footer {
    @apply fixed flex flex-0 items-center justify-start w-full h-14 px-4 bottom-0 md:px-6 z-49 shadow-md bg-card rounded-2xl dark:bg-custom-1 print:hidden;
}

.base-footer {
    @include base-footer;
}

.space-nav-bar {
    width: calc(100% - 30px) !important;
    margin: 10px;
    position: relative;
    left: 10px;
}

.space-footer-bar {
    width: calc(100% - 310px) !important;
    right: 10px;
    bottom: 10px;
}