<div class="div-layout-users-1">
  <div class="flex-auto">
    <div class="div-grid">
      <!-- Sku -->
      <div class="col-span-1 flex items-center">
        <p class="text-list">{{ 'LAYOUT.LIST.ID' | transloco }}</p>
      </div>

      <!-- Users -->
      <div class="col-span-1 flex items-center">
        <p class="text-list">{{ 'LAYOUT.LIST.NAME' | transloco }}</p>
      </div>

      <!-- Type users -->
      <div class="div-layout-users">
        <span class="text-list">{{ 'LAYOUT.LIST.EMAIL' | transloco }}</span>
      </div>
      <!-- Type users -->
      <div class="div-layout-users">
        <span class="text-list"></span>
      </div>
      <!-- Type users -->
      <div class="div-layout-users">
        <span class="text-list"></span>
      </div>
      <!-- Type users -->
      <div class="div-layout-users">
        <span class="text-list"></span>
      </div>

      <!-- Actions -->
      <div class="div-layout-users-2">
        <span class="text-list">{{ 'LAYOUT.LIST.ACTIONS' | transloco }}</span>
      </div>
    </div>
    <ng-container *ngIf="items">
      <div class="w-full relative">
        <ng-container *ngFor="let item of items; let i = index; trackBy: trackByFn">
          <!-- Group -->
          <ng-container *ngIf="i === 0 || item.first_name!.charAt(0) !== items[i - 1].first_name!.charAt(0)"> </ng-container>
          <list-user-1 [user]="item"></list-user-1>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>
