<div class="flex items-center  justify-center mr-20 mb-10">
  <div class="mr-4 flex flex-col">
    <!--TODO: se pueden usar -->
    <!-- <span class="font-bold mx-5">{{ total_count }}</span>
    <span class="font-bold  lowercase">{{title}}</span> -->
    <form [formGroup]="form">
      <mat-form-field class="w-full max-w-20">
        <mat-label class="text-xs">{{ 'por pagina' | transloco }}</mat-label>
        <mat-select [formControlName]="'limit_perPage'">
          <ng-container>
            <mat-option *ngFor="let numbers of options" [value]="numbers">
              {{ numbers }}
            </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </form>

  </div>
  <button
    (click)="goToPreviousPage()"
    [disabled]="currentPage === 1"
    class="paginator-btn mr-2 px-3 py-2 border border-gray-300 rounded-full font-bold cursor-pointer hover:bg-appia"
  >
    {{ 'Back' }}
  </button>
  <ng-container *ngFor="let page of visiblePages">
    <button
      (click)="goToPage(page)"
      [class.active]="currentPage === page"
      class="paginator-btn mr-2 px-3 py-2 border border-gray-300 border-opacity-70 rounded-full font-bold cursor-pointer hover:bg-appia"
    >
      {{ page }}
    </button>
  </ng-container>
  <button
    (click)="goToNextPage()"
    [disabled]="currentPage === totalPages"
    class="paginator-btn px-3 py-2 border border-gray-300 rounded-full font-bold cursor-pointer hover:bg-appia"
  >
    {{ 'Next' }}
  </button>
</div>
