<div class="flex flex-col flex-auto min-w-0">
  <div>
    <div class="max-w-screen-xl mx-auto px-6 sm:px-8">
      <div class="my-4 sm:my-6">
        <div class="flex items-center">
          <h1 class="text-3xl font-extrabold tracking-tight leading-none">Dashboard</h1>
        </div>
      </div>
    </div>
  </div>

  <!-- Main -->
  <div class="flex-auto">
    <div class="w-full max-w-screen-xl mx-auto">
      <!-- Tabs -->
      <div class="sm:px-2">
        <!-- Home -->
        <div>
          <div>
            <div class="grid grid-cols-2 md:grid-cols-4 gap-2 md:gap-6 w-full min-w-0 px-5">
              <!-- Summary -->
              <div
                class="flex-col flex-auto p-6 bg-white dark:bg-card rounded-lg shadow-sm hover:bg-slate-300 overflow-hidden dark:hover:bg-gray-700"
              >
                <div class="flex items-start justify-between">
                  <div class="text-lg font-medium tracking-tight leading-6 truncate">Summary</div>
                </div>
                <div class="flex flex-col items-center mt-2">
                  <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-blue-500">21</div>
                  <div class="text-lg font-medium text-blue-600 dark:text-blue-500">Due Tasks</div>
                  <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                    <div class="text-md font-medium truncate">Completed:</div>
                    <div class="ml-1.5 text-lg font-semibold">13</div>
                  </div>
                </div>
              </div>
              <!-- Overdue -->
              <div
                class="flex flex-col flex-auto p-6 bg-white dark:bg-card rounded-lg shadow-sm hover:bg-slate-300 overflow-hidden dark:hover:bg-gray-700"
              >
                <div class="flex items-start justify-between">
                  <div class="text-lg font-medium tracking-tight leading-6 truncate">Overdue</div>
                </div>
                <div class="flex flex-col items-center mt-2">
                  <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-red-500">17</div>
                  <div class="text-lg font-medium text-red-600 dark:text-red-500">Tasks</div>
                  <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                    <div class="text-md font-medium truncate">From yesterday:</div>
                    <div class="ml-1.5 text-lg font-semibold">9</div>
                  </div>
                </div>
              </div>
              <!-- Issues -->
              <div
                class="flex flex-col flex-auto p-6 bg-white dark:bg-card rounded-lg shadow-sm hover:bg-slate-300 overflow-hidden dark:hover:bg-gray-700"
              >
                <div class="flex items-start justify-between">
                  <div class="text-lg font-medium tracking-tight leading-6 truncate">Issues</div>
                </div>
                <div class="flex flex-col items-center mt-2">
                  <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-amber-500">24</div>
                  <div class="text-lg font-medium text-amber-600 dark:text-amber-500">Open</div>
                  <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                    <div class="text-md font-medium truncate">Closed today:</div>
                    <div class="ml-1.5 text-lg font-semibold">19</div>
                  </div>
                </div>
              </div>
              <!-- Features -->
              <div
                class="flex flex-col flex-auto p-6 bg-white dark:bg-card rounded-lg shadow-sm hover:bg-slate-300 overflow-hidden dark:hover:bg-gray-700"
              >
                <div class="flex items-start justify-between">
                  <div class="text-lg font-medium tracking-tight leading-6 truncate">Features</div>
                </div>
                <div class="flex flex-col items-center mt-2">
                  <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-green-500">38</div>
                  <div class="text-lg font-medium text-green-600 dark:text-green-500">Proposals</div>
                  <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                    <div class="text-md font-medium truncate">Implemented:</div>
                    <div class="ml-1.5 text-lg font-semibold">16</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
