<div class="flex items-center justify-center min-h-screen bg-custom-2 p-4">
  <div class="pt-0 py-8 px-4 sm:p-12 sm:pt-0 rounded-2xl shadow-2xl bg-custom-1 md:w-3/5 my-10">
    <div class="w-full max-w-40 sm:w-40 mx-auto mb-10 bg-[#FFFFFF] p-5 rounded-b-lg">
      <img class="rounded-xl" src="assets/images/logo/logo.white.png" />
    </div>
    <div class="w-full mx-auto flex flex-wrap justify-center items-center relative">
      <div class="w-full">
        <!-- Sign in Header -->
        <sign-up-header-component></sign-up-header-component>
        <!-- Sign up form -->
        <sign-up-form-component></sign-up-form-component>
      </div>
    </div>
  </div>
</div>
