<!-- Logo -->
<div class="w-full max-w-40 sm:w-40 mx-auto">
  <img *ngIf="appConfig.scheme === 'dark'" [src]="appConfig.logoTextOnDark" />
  <img *ngIf="appConfig.scheme === 'light'" [src]="appConfig.logoTextOnLight" />
</div>

<!-- Title -->
<div class="w-full flex flex-col items-center">
  <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight text-center">{{ 'AUTH.FORGOT_PASSWORD.TITLE' | transloco }}</div>
  <span class="flex items-baseline mt-0.5 font-medium my-1 text-center">{{ 'AUTH.FORGOT_PASSWORD.COMPLETE_FORM' | transloco }} </span>
</div>
