<div class="w-full max-w-3xl min-h-full flex flex-col mb-12">
  <ng-container *ngIf="platform$ | async as platform">
    <form [formGroup]="form">
      <ng-container *ngIf="base">
        <div class="flex flex-col">
          <!-- Avatar -->
          <ng-container *ngIf="base.id">
            <div class="relative -mt-16">
              <!-- Upload / Remove avatar -->
              <!-- <app-upload-file-theme
                [layoutType]="'ROUND'"
                [imagePlace]="item.file"
                [height]="8"
                [width]="8"
                [fontSize]="4"
                (fileUploaded)="sendFile($event)"
                [key]="item.file?.key"
              ></app-upload-file-theme> -->
            </div>
          </ng-container>

          <!--Info Base-->
          <div class="p-2 grid sm:grid-cols-4 gap-6 w-full mt-8">
            <!--Name-->
            <div class="sm:col-span-2">
              <mat-form-field class="w-full">
                <mat-label>{{ 'BASE.FIELDS.NAME' | transloco }}</mat-label>
                <input matInput [formControlName]="'name'" [type]="'text'" #inputValue [placeholder]="'BASE.FIELDS.NAME' | transloco" />
                <mat-icon class="icon-size-5" [svgIcon]="'person'" matSuffix></mat-icon>
                <mat-error *ngIf="form.controls.name.touched && form.controls.name.hasError('required')">
                  {{ 'FORMS.ERRORS.REQUIRED' | transloco }}
                </mat-error>
              </mat-form-field>
            </div>

            <!--Description-->
            <div class="sm:col-span-2">
              <mat-form-field class="w-full">
                <mat-label>{{ 'BASE.FIELDS.DESCRIPTION' | transloco }}</mat-label>
                <input
                  matInput
                  [formControlName]="'description'"
                  [type]="'text'"
                  #inputValue
                  [placeholder]="'BASE.FIELDS.DESCRIPTION' | transloco"
                />
                <mat-icon class="icon-size-5" [svgIcon]="'person'" matSuffix></mat-icon>
                <mat-error *ngIf="form.controls.description.touched && form.controls.name.hasError('required')">
                  {{ 'FORMS.ERRORS.REQUIRED' | transloco }}
                </mat-error>
              </mat-form-field>
            </div>

            <!--Active-->
            <div class="sm:col-span-4">
              <mat-slide-toggle [checked]="base.active" class="w-full" [formControlName]="'active'">{{
                'BASE.FIELDS.ACTIVE' | transloco
              }}</mat-slide-toggle>
            </div>
          </div>
        </div>
      </ng-container>
    </form>
    <!-- Actions -->
    <div class="flex items-center justify-end mt-5 py-2 mb-4">
      <ng-container *ngIf="platform === 'web'">
        <!--Delete-->
        <ng-container *ngIf="base.id !== null">
          <button mat-stroked-button color="warn" (click)="deleteD()" [matTooltip]="'BTNS.DELETE' | transloco">
            <mat-icon [svgIcon]="'mat_outline:delete'"></mat-icon>
            <span class="ml-2">{{ 'BTNS.DELETE' | transloco }}</span>
          </button>
        </ng-container>
        <!--Save-->
        <button mat-stroked-button color="primary" (click)="save()" class="mx-2" [matTooltip]="btnSave | transloco">
          <mat-icon [svgIcon]="'mat_outline:save'"></mat-icon>
          <span class="ml-2">{{ btnSave | transloco }}</span>
        </button>

        <!--Cancel-->
        <button mat-stroked-button color="secondary" (click)="cancel(false)" [matTooltip]="'BTNS.CANCEL' | transloco">
          <mat-icon [svgIcon]="'mat_outline:cancel'"></mat-icon>
          <span class="ml-2">{{ 'BTNS.CANCEL' | transloco }}</span>
        </button>
      </ng-container>
      <!--platform mobile-->
      <ng-container *ngIf="platform === 'mobile'">
        <!-- Delete -->
        <ng-container *ngIf="base.id !== null">
          <button mat-mini-fab color="warn" [matTooltip]="'BTNS.DELETE' | transloco" (click)="deleteD()">
            <mat-icon svgIcon="mat_outline:delete"></mat-icon>
          </button>
        </ng-container>

        <!-- Save -->
        <button mat-mini-fab color="primary" class="mx-2" [matTooltip]="btnSave | transloco" (click)="save()">
          <mat-icon svgIcon="mat_outline:save"></mat-icon>
        </button>

        <!-- Cancel -->
        <button mat-mini-fab color="accent" [matTooltip]="'BTNS.CANCEL' | transloco" (click)="cancel(false)">
          <mat-icon svgIcon="mat_outline:cancel"></mat-icon>
        </button>
      </ng-container>
    </div>
  </ng-container>
</div>
