<div class="flex items-center justify-center min-h-screen bg-custom-2">
  <div
    class="pt-0 py-8 px-4 sm:p-12 sm:pt-0 mt-0 mx-5 rounded-2xl shadow-2xl bg-custom-1 sm:w-120 flex flex-col items-center justify-center"
  >
    <div class="w-full max-w-40 sm:w-40 mx-auto mb-10 bg-[#FFFFFF] p-5 rounded-b-lg">
      <img class="rounded-xl" src="assets/images/logo/logo.white.png" />
    </div>
    <div class="w-full flex flex-col">
      <!-- Sign in Header -->
      <sign-in-header-component></sign-in-header-component>
      <!-- Sign in form -->
      <app-form-classic></app-form-classic>
    </div>
  </div>
</div>
